[Desktop Entry]
Type=Service
MimeType=video/*;audio/*;
Actions=audio2flacReplace;audio2flacNew;audio2wavReplace;audio2wavFile;audio2aacReplace;audio2aacNew;toDavinciResolveReplace;toDavinciResolveMov;
X-KDE-Priority=TopLevel
Terminal=false

[Desktop Action audio2flacReplace]
Name=Audio to FLAC (replace original file)
Icon=audio-x-flac
Exec=/path/to/scripts/audio2flac_replace %F

[Desktop Action audio2flacNew]
Name=Audio to FLAC (new file, video as mkv)
Icon=audio-x-flac
Exec=/path/to/scripts/audio2flac_mkv %F

[Desktop Action audio2wavReplace]
Name=Audio to WAV (replace, keep container)
Icon=audio-x-wav
Exec=/path/to/scripts/audio2wav_replace %F

[Desktop Action audio2wavFile]
Name=Audio to WAV (.wav, delete original file)
Icon=audio-x-wav
Exec=/path/to/scripts/audio2wav %F

[Desktop Action audio2aacReplace]
Name=Audio to AAC (replace original)
Icon=audio-x-aac
Exec=/path/to/scripts/audio2aac_replace %F

[Desktop Action audio2aacNew]
Name=Audio to AAC (new file, video as mkv)
Icon=audio-x-aac
Exec=/path/to/scripts/audio2aac_mkv %F

[Desktop Action toDavinciResolveReplace]
Name=Convert to DNxHD/DNxHR (replace)
Icon=video-x-generic
Exec=/path/to/scripts/to_davinci_resolve_replace %F

[Desktop Action toDavinciResolveMov]
Name=Convert to DNxHD/DNxHR (.mov)
Icon=video-x-generic
Exec=/path/to/scripts/to_davinci_resolve_mov %F
